server:
  port: 8080

spring:
  application:
    name: cinema
  datasource:
    url: jdbc:h2:mem:cinema;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

jwt:
  secret: VGhpc0lzQVZlcnlMb25nU2VjcmV0S2V5Rm9yVGhlQ2luZW1hQXBwbGljYXRpb25UaGF0SXNEZWZpbml0ZWx5TW9yZVRoYW41MTJCaXRzQW5kU2hvdWxkQmVTZWN1cmVFbm91Z2hGb3JIUzUxMkFsZ29yaXRobUNoZWNr

aws:
  region: ap-northeast-2
  s3:
    bucket: lion-cinema-content-team4
    bucket-name: lion-cinema-content-team4
  cloudfront:
    domain: "https://d3q8b3ts21eo3m.cloudfront.net"

transcode:
  workdir: /tmp/work
  ffmpeg:
    dockerImage: jrottenberg/ffmpeg:6.0-alpine
    segmentSeconds: 6

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /api-docs